html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Wave header styling. */
.wave-container {
    position: relative;
    background: #FFF;
    color: #000;
    overflow: hidden;
    z-index: 1;
}

.wave-container > svg {
    display: block;
    transform-origin: top;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.navbar { background-color: #0A0F33; }
.navbar-toggler { background-color: transparent; }

#navbar-list li a {
    color: white;
    font-weight: bold;
    padding: 0 10px 0 10px;
    transition: all 0.2s ease-in-out;
}
    #navbar-list li a:hover { color: #636BF6; }
    #navbar-list li a:active { color: #636BF6; }
    #navbar-list li a:visited { color: white; }

#header-text { margin-top: 100px; }
    #header-text h1 {
        font-family: 'Varela Round', sans-serif;
        color: white;
        font-size: 34px;
        font-weight: bold;
    }

    #header-text p {
        position: relative;
        top: 10px;
        color: white;
    }

.mockup-image { width: 100%; }

#logo {
    width: 175px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Features styling. */
#features { margin-top: 50px; }
h2 { font-family: 'Varela Round', sans-serif; }

/* When on phone view, adjust some content. */
@media (max-width: 768px) {
    #header-text { margin-top: 50px; }

    /* Navbar styling for resizing. */
    .navbar-collapse {
        background-color: black;
        border-radius: 10px;
        padding: 15px;
    }
        .navbar-collapse li { padding: 10px 0 10px 0; }

    .mockup-image {
        margin-top: 50px;
        width: 50%;
    }
}

/* Smoothstate CSS. */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes animateWave {
    0% {
        transform: scale(2, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

.scene-element {
	animation-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.scene-element-fadein {animation-name: fadeIn;}
.scene-element-fadeinup {animation-name: fadeInUp;}
.scene-element-fadeinright {animation-name: fadeInRight;}
.scene-element-fadeindown {animation-name: fadeInDown;}
.is-exiting {animation-duration: alternate-reverse;}